<div class="container">
    <div class="d-flex flex-row justify-content-between mb-3 container">
        <h5 class="m-0 py-2">Contacts</h5>
        <button class="btn btn-primary btn-sm py-0 px-4" (click)="addContact()">
            <i class="fas fa-plus fa-sm"></i> Add Contact
        </button>
    </div>
    <div class="container">
        <ul class="list-group" *ngFor="let contact of contactList">
            <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                <div>
                    <h5 class="m-0 pb-2">
                        {{contact.firstName | titlecase}} {{contact.lastName | titlecase}}
                    </h5>
                    <p class="text-muted m-0">
                        <i class="fas fa-phone-alt"></i> {{contact.phoneNumber | titlecase}}
                    </p>
                </div>
                <div>
                    <button class="btn btn-success btn-sm" (click)="editContact(contact)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="deleteContact(contact)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <!-- <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contactList">
                <td>{{contact.id}}</td>
                <td>{{contact.firstName | titlecase}}</td>
                <td>{{contact.lastName | titlecase}}</td>
                <td>{{contact.phoneNumber | titlecase}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteUser(contact)">Delete</button>
                </td>
            </tr>
            <tr *ngIf="!contactList || contactList.length==0">
                <th colspan="5">
                    <p class="text-right text-danger">Sorry No Users Available</p>
                </th>
            </tr>
        </tbody>
    </table> -->
</div>
<!-- <router-outlet></router-outlet> -->
